/******************************* COLOR THEME *******************************/

/****************** LIGHT THEME ***************/

:root {
    --background: #f4f4f9;

    --text: #333333;
    --button: #007BFF;
    --accent: #FF5722;

    --background-header-footer: #000000;
    --color-text-header-footer: #ffffff;
}

/****************** DARK THEME ***************/

.dark-mode {
    --background: #1e1e2f;

    --text: #f1f1f1;
    --button: #3399FF;
    --accent: #FF9800;

    --background-header-footer: #000000;
    --color-text-header-footer: #ffffff;
}

/******************************* GENERAL STYLES *******************************/

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/******************************* HEADER STYLES *******************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-header-footer);
}

header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
    color: var(--color-text-header-footer);
    font-size: 24px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

header nav a {
    color: var(--color-text-header-footer);
}


/******************************* MAIN STYLES *******************************/

main {
    text-align: center;
    justify-content: center;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--background);
    color: var(--text);
}

section h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero {
    padding: 40px;
}

.hero a {
    color: var(--text);
    text-decoration:underline;
}

.hero a:hover {
    text-decoration: none;
}


.carousel-inner img, .carousel-inner img{
    width: 800px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 40px;
}


/******************************* FONTS STYLES *******************************/

p {
    font-size: 16px;
}

/******************************* BUTTON *******************************/

#toggle-theme {
    background-color: var(--button);
    color: #000000;
    border: 2px solid var(--accent);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.toggle-theme:hover {
    background-color: darken(var(--button), 10%);
}

/******************************* FORM *******************************/

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background);
    border: 1px solid var(--accent);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input,
form select,
form button {
    padding: 20px;
    border: 1px solid var(--accent);
    border-radius: 4px;
}

form input:focus,
form select:focus,
form button:focus {
    outline: none;
    border-color: var(--button);
    box-shadow: 0 0 4px var(--button);
}

form button {
    background-color: var(--button);
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: darken(var(--button), 10%);
}


/******************************* FOOTER *******************************/
footer {
    background-color: var(--background-header-footer);
    color: var(--color-text-header-footer);
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 14px;
}

.social-media i {
    color: var(--color-text-header-footer);
    font-size: 25px;
    margin: 10px;
}